@charset "utf-8";

/*-----------------
Layout
------------------*/

body{
    font-size: 12px;
}
.head{
    padding: 15px 0 0 0;
border-top: #09c solid 4px;
}
.head h1{
    margin: 0 0 15px 0;
    text-align: center;
}
.head h1 img{
width: 124px;
}
.head nav{
    margin: 0 10px 10px 10px;
}
.head nav ul{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100;
    padding: 4px 6px;
    background: #09c;
    border-radius: 4px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.head nav ul li{
    margin: 0 6px 0 0;
    padding: 0 8px 0 0;
    -webkit-box-flex:1;
    box-flex:1;
    background: url(../img/all_line01.png) no-repeat right center;
    -webkit-background-size: 1px auto;
    -mozo-background-size: 1px auto;
    background-size: 1px auto;
}
.head nav ul li a{
    display: block;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-decoration: none; //下線を消す
}
.head nav ul li a.on{
    color: #069;
    background: #ddf2f9;
    line-height: 36px;
    border-radius: 3px;
}
<!--一番右の処理-->
.head nav ul li:last-child{
    margin: 0;
    padding: 0;
    background: none;
}
.visual{
    margin: 0 10px 10px;
}
.visual p{
    width: 100%;
    height: 140px;
    background: url(../img/top_img01.png) no-repeat;
    -webkit-background-size:100% auto;
    background-size: cover;
    border-radius: 4px;
}
.visual p img{
    width: 190px;
    margin: 30px 0 0 5px;
}
.contents {
    position: relative;
    margin: 0 10px 10px 10px;
    padding: 10px 8px;
    box-shadow: 1px 1px 2px #ddd;
    background: #fff;
    border-radius: 4px;
}

.contents .rightbtn {
    position: absolute;
    right: 10px;
    top: 7px;
}

.contents .main {
    padding: 0 0 10px 0;
}
.content .main h2{
    margin: 0 0 14px 0;
    padding: 0 0 0 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    border-left: #09c solid 4px;
}
.content .bluebtn{
    display: block;
    width: 68px;
    height: 18px;
    padding: 0 0 0 22px;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    background: #09c url(../img/all_arw02r.png)　no-repeat 6px 3px;
    background-size: 11px;
    border-radius: 3px;
}

.newsList ul{
    padding: 8px 0 0 0;
    font-size: 10px;
    line-height: 1.6;
    list-style: none;
    border-top: #ddd dotted 1px;
}
.newsList ul li h3{
    width: 70px;
    font-weight: bold;
}
.newsList ul li span{
    display: block;
    margin: -1.6em 0 10px 0;
    padding: 0 0 10px 80px;
    border-bottom: #ddd dotted 1px;
}

.fmenu{
    margin: 0 10px 10px 10px;
    padding: 14px 8px;
    background: #DDF2F9;
    border-radius: 4px;
}
.fmenu header{
    margin: 0 0 10px 0;
}
.fmenu header h1{
    margin:  0 0 14px 0;
    padding: 0 0 0 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    border-left: #069 solid 4px;
}
.fmenu header p img{
    width: 100%;
    border-radius: 4px;
}
.fmenu section h2{
    margin: 0 0 16px 0;
    font-size: 12px;
    color: #069;
}
.fmenu section dl{
    font-size: 10px;
    line-height: 1.6;
}
.fmenu section dl dt{
    width: 60px;
}
.fmenu section dl dd{
    margin: -1.6em 0 4px 0;
    padding: 0 0 4px 70px;
    border-bottom: #BBCDD3 dotted 1px;
}

.pagetop{
    margin: 0 10px 10px 10px;
    text-align: right;
}
.pagetop a{
    padding: 0 0 0 14px;
    font-size: 10px;
    background: url(../img/all_arw01t.png) no-repeat left center;
    background-size: 11px;
}
.font{
    margin: 0 10px;
    padding: 10px 0 10px 0;
    font-size: 10px;
    border-top:#09c solid 2px;
}
.font nav ul {
    margin: 0 0 10px 0;
    text-align: center;
}
.font nav ul li{
    display: inline;
    margin: 0 10px 0 0;
}
.font nav ul li a {
    padding: 0 0 0 14px;
    background: url(../img/all_arw01r.png) no-repeat left center;
    background-size: 11px;
}
.font section {
    padding: 15px 10px;
    background: #ddf2f9;
    border-radius:  4px;
}
.font section ul {
    margin: 0 0 5px 0;
    list-style: none;
    text-align: center;
}
.font section ul li {
    display: inline;
    margin: 0 10px 0 0;
}
.font section ul li a {
    padding: 0 0 0 14px;
    background: url(../img/all_arw01r.png) no-repeat left center;
    background-size: 11px;
}.font section p {
    text-align: center;
}
/*ここから製品情報ページCSS*/

.productlist article{
    margin: 0 0 15px 0;
    position: relative;
}
.productlist article:last-child{
    margin: 0;
}
.productlist article　section{
    padding: 0 0 24px 0;
}
.productlist article　section p{
    font-size: 10px;
    line-height: 1.6;
}
.productlist article　section p img{
    float: left;
    width: 100px;
    margin: 0 10px 6px 0;
}
.productlist article .btn{
    position: absolute;
    right: 0;
    bottom: 0;
}
.productlist article　section p:after{
    content: "";
    display: block;
    clear: both;
}
.productArea .about {
    margin: 0 0 20px 0;
}
.productArea .about p{
    font-size: 10px;
    line-height: 1.6;
}
.productArea .about p img{
    float: left;
    width: 100px;
    margin: 0 10px 6px 0;
}
.productArea .method{
    margin: 0 0 20px 0;
}
.productArea .notes p{
    font-size: 10px;
    line-height: 1.6;
}
teble{
    width: 100%;
    font-size: 10px
    border: 1px solid #ddd;
    border-collapse: collapse; 
}
table th {
    width: 20%;
    padding: 6px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    background: #ddf2f9;
    border: 1px solid #ddd;
}
table td{
    width: 80%;
    padding: 6px;
    border: 1px solid #ddd;
}
/*ここから会社概要CSS*/
.profileArea .first{
    margin: 0 0 20px 0;
}
.profileArea .first p{
    font-size: 10px;
    line-height: 1.6;
}
/*アクセスCSS*/
.maparea {
    width: 100%;
    height: 180px;
    margin: 0 0 5px 0;
    overflow: hidden;
}
.accessArea .tet{
    margin: 0 0 20px 0;
}
.accessArea .tex p{
    font-size: 10px;
    line-height: 1.6;
}
.accessArea .map p{
    font-size: 10px;
}
/*ここから採用情報CSS*/
.recruitArea .essential{
    margin: 0 0 20px 0;
}
.recruitArea .essential p{
    font-size: 10px;
    line-height: 1.6;  
}
.recruitArea .form .txt{
    margin: 0 0 10px 0;
    font-size: 10px;
    line-height: 1.6;
    color: #069;
}
.recruitArea .form .formList{
    margin: 0 0 10px 0;
}
.formList{
    padding: 10px 0 0 0;
    border-top: #ddd dotted 1px;
}
.formList dt{
    margin: 0 0 10px 0;
    border-left: 4px solid #90c;
    padding: 0 0 0 4px;
}
.formList dt b{
    margin: 0 0 4px;
    font-size: 10px;
    color: #069;
}
.formList dd{
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: #ddd dotted 1px;
}
.formList dd p{
    margin: 0 0 4px 0;
}
.formList dd label{
    margin: 0 6px 0 0;
}
.formList dd span{
    margin: 0 4px 0 0;
}
.formList dd input{
    vertical-align: middle;
}
.formList dd select{
    padding: 5px;
}
.formList dd input[type=chekbox],.formList dd input[type=radio]{
    width: 24px;
    height: 24px;
    margin: 0 6px 4px 0;
}
.formList dd input[type=text],
.formList dd input[type=email],
.formList dd input[type=tel],
.formList dd input[type=number],
.formList dd input[type=password],
.formList dd textarea{
    padding: 6px;
    border-radius: 4px;
}
