
.wrap {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.head {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    height: 60px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}
.head .headIn {
    position: relative;
    width: 700px;
    display: block;
    margin: auto;
}
font{
font-family: 'Hiragino Kaku Gothic ProN','Meiryo';
}

.head h1 {
    display: block;
}
.head h1#logo {
    position: absolute;
    top: 7px;
    left: 0;
}
.head .nav {
    display: block;
}
.head .nav ul {
    display: -webkit-box; /* webkitのブラウザへの処理 */
    display: -moz-box;
    display: box;
    position: relative;
    width: 520px;
    height: 60px;
    margin: 0 0 0 210px;
    padding: 12px 0 0 0;
    background: #fff;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.head .nav ul li {
    margin: -12px 20px 0 0;
    padding: 0 10px 0 10px;
    width: 100px;
    height: 60px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-backgroung-size: 1px auto;
    background-size: 1px auto;
}
.head .nav ul li a {
    display: block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #000;
    text-decoration: none;
}
.head .nav ul li a#index:hover {
    background: #1E90FF;
    color: #fff;
}
.head .nav ul li a#product:hover {
    background: #9ACD32;
    color: #fff;
}
.head .nav ul li a#video:hover {
    background: #FF8C00;
    color: #fff;
}
.head .nav ul li a#index.on {
    background: #1E90FF;
    color: #fff;
}
.head .nav ul li a#product.on {
    background: #9ACD32;
    color: #fff;
}
.head .nav ul li a#video.on {
    background: #FF8C00;
    color: #fff;
}

.visual {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.visual .wall {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.visual .wall p img#mainWall {
    width: 100%;
    height: 500px;
    margin: -10px 0 0 0;
}
.wrap .index_text1 {
}
.wrap .index_text1 .index_textArea {
    float: left;
    margin: 130px 0 0 10px;
}
.wrap .index_text1 .index_textArea #text2 {
    margin: -10px 0 20px 0;
}