@charset "utf-8";

/* -----------------
Layout
------------------*/

body{
    font-size: 10px;
    font-family: cursive
}
.head{
    border-top: #f00 solid 5px;
}
.head h1{
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 13px;
}

    
    
    