@charset "UTF-8";


/* Layout */
html{
}

body{
font-family:serif;
color:#fff;
background:#000;
}

header{
margin:20px 10px 15px 10px;

width:100%;
height:250px;
padding:50px 10px 0 40px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:url(../img/top.jpg) no-repeat 0 0;
-webkit-background-size:100% auto;
background-size:cover;

}

header h1{
font-size:30px;
color:#000;
}

article{
font-size:0;
}

article div{
width:100%;
display:-webkit-box;
display:-moz-box;
display:box;
margin:0 0 1px 0;
}

article div section{
position:relative;
display:flex;
width:auto;
height:130px;
-webkit-box-flex:1;
-moz-box-flex:1;
box-flex:1;
border-right:#000 solid 1px;
}

article div section.img01{
background:url(../img/img01.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img02{
background:url(../img/img02.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img03{
background:url(../img/img03.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img04{
background:url(../img/img04.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img05{
background:url(../img/img05.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img06{
background:url(../img/img06.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img07{
background:url(../img/img07.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img08{
background:url(../img/img08.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section.img09{
background:url(../img/img09.jpg) no-repeat center top;
background-size:cover;
-webkit-background-size:cover;
}

article div section:last-child{
border-right:none;
}


article div section a{
display:block;
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
color:#fff;
text-decoration:none;
}

article div section a p{
position:absolute;
left:10px;
bottom:22px;
font-size:20px;
color:#f51;
font-weight:bold;
}

article div section a h1{
position:absolute;
left:10px;
bottom:5px;
font-size:14px;
color:#f51;

}