@charset "UTF-8";

/* Layout */
html{
}

body{
font-family:sans-serif;
background:#390;
}

header{
width:100%;
height:235px;
padding:110px 10px 0 10px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:url(../img/img01.jpg) no-repeat 0 0;
-webkit-background-size:100% auto;
background-size:cover;
}

header h1{
margin:0 0 2px 0;
font-size:18px;
font-weight:bold;
color:#390;
}

header h2{
font-size:12px;
font-weight:normal;
color:#390;
}

nav{
-webkit-box-shadow:0 2px 4px #060;
box-shadow:0 2px 4px #060;
}

nav ul{
}

nav ul:after{
content:"";
clear:both;
display:block;
}

nav ul li{
float:left;
width:25%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #D7DFE2), color-stop(0.00, #fff));
background:-webkit-linear-gradient(top, #fff 0%, #D7DFE2 100%);
background:-moz-linear-gradient(top, #fff 0%, #D7DFE2 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffD7DFE2', GradientType=0 );
background:linear-gradient(top, #fff 0%, #D7DFE2 100%);
border:#C0CCC6 solid 1px;
}

nav ul li a{
display:block;
height:22px;
padding:58px 0 0 0;
font-size:12px;
color:#60666A;
font-weight:bold;
text-align:center;
text-decoration:none;
background:url(../img/icon01.png) no-repeat 50% 13px;
background-size:40px 40px;
-webkit-background-size:40px 40px;
}