/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  color: #303133;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* --------ここから本体CSS-------- */
p {line-height: 1.7;}

.header-hero {
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #343551;
}
.header-cont {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.header-nav {
  border-bottom: 1px #4f516a solid;
  padding: 37px 0;
}
.header-nav h1 {
  float: left;
}
.header-nav ul {
  float: right;
}
.header-nav ul li{
  float: left;
  margin-left: 60px;
}
.header-nav ul li a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.header-cont h2 {
  margin-top: 140px;
  font-size: 50px;
  color: white;
  line-height: 1.35; /*追記*/
  font-weight: bold; /*追記*/
}
.header-read {
  color: white;
  margin-top: 20px;
  line-height: 1.5; /*追記*/
}
.header-btn  {
  display: inline-block;
  padding: 15px 55px;
  background-color: #e84564;
  color: white;
  margin-top: 60px;
  margin-bottom: 80px; /*追記*/
  border-radius: 2px;
}
.team-area {
  width: 1170px;
  margin: 50px auto;
}
.team-area li {
  float: left;
  width: 270px;
  margin-left: 30px;
}
.team-area li:first-child {
  margin-left: 0;
}
.team-area h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.team-area h3 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 24px;
  color: #ec5872;
}
.team-area p {
  line-height: 1.5;
}
.footer-top {
  background-color: #3a3e63;
  padding: 65px 0 70px;
}
.footer-top ul{
  width: 1170px;
  margin: 0 auto;
}
.footer-top ul li{
  width: 370px;
  float: left;
  margin-left: 30px;
  text-align: center;
}
.footer-top ul li h2{
  color: #fff;
  margin-bottom: 10px;
}
.footer-top ul li p{
  color: #7c7e98;
}
.footer-top ul li:first-child{
  margin-left: 0;
}
.footer-bottom {
  background-color: #313455;
  text-align: center;
  color: #808080;
  font-size: 13px;
  padding: 20px 0 ;
}
.footer-bottom span{
  color: #fff;
}




